# Ignore directories
**/build/
**/debug/
**/.cache/
docs/html/*
docs/latex/*
docs/man/*
scripts/*
.qtcreator/*
.vscode/*


# Ignore file extensions
*.o
*.obj
*.asm
*.tmp
*.backup

# Ignore concrete files
compile_commands.json
